
<div class="main-container">
        <div class="left-container">
            <div class="signup-container" id="signup-container">
                <div class="form-header">
                    <h1>Hot Reels</h1>
                    <p>Your new favorite fishing app!</p>
                </div>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="signup-username">Username:</label>
                        <input class="form-input" type="text" id="name-signup" placeholder="Enter your username">
                    </div>

                    <div class="form-group">
                        <label for="signup-email">Email:</label>
                        <input class="form-input" type="email" id="email-signup" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for ="signup-password">Password:</label>
                        <input class="form-input" type="password" id="password-signup" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="signup-submit" value="Create Account">
                    </div>
                    <p class="form-message">Already have an account? <span class="login-here-span">Login here!</span></p>
                </form>
            </div>
            <div class="login-container hide" id="login-container">
                <div class="form-header">
                    <h1>Hot Reels</h1>
                    <p>You're back! Catch anything good?</p>
                </div>
                <form id="login-form">
                    <div class="form-group">
                        <label for="signup-email">Email:</label>
                        <input class="form-input" type="email" id="email-login" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for ="signup-password">Password:</label>
                        <input class="form-input" type="password" id="password-login" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="login-submit" value="Log in">
                    </div>
                    <p class="form-message">Don't have an account? <span class="signup-here-span">Create account!</span></p>
                </form>
            </div>
        </div>
       
    </div>

<script src="./js/login.js"></script>
